name: "Publish"

on:
  push:
    tags:
      # Publish on any tag starting with the format "YYYY.N.N"
      - "[0-9][0-9][0-9][0-9].[0-9]+.[0-9]+*"

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Python 3.13
        run: uv python install 3.13

      - name: Build
        run: uv build

      # Check that basic features work and we didn't miss to include crucial files
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl --with pytest pytest tests/smoke_test.py
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with dist/*.tar.gz --with pytest pytest tests/smoke_test.py

      - name: Publish
        run: uv publish
