name: Test

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Flit
        run: |
          python -m pip install flit

      - name: Install Dependencies
        run: |
          python -m flit install --symlink

      - name: Run Tests
        run: |
          pytest

      - name: Check if Cog needs to be run
        run: |
          cog --check README.md docs/*.md
